<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @employee.name %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @employee.employee_id %>
</p>

<p>
  <strong>Position:</strong>
  <%= @employee.position %>
</p>

<p>
  <strong>Organization:</strong>
  <%= link_to @employee.organization.name, organization_path(@employee.organization) %>
</p>

<div id="chart_div" style="width: 900px; height: 500px;"></div>

<h4>Hourly Scores</h4>
<ul>
  <% @employee.scores.each do |score| %>
    <li><%= "#{score.hourOffset} == #{score.SHITS}" %></li>
  <% end %>
</ul>



<% scores_csv = @employee.scores.map{|score| "[#{score.hourOffset}, #{score.shiftCount}, #{score.recentShifts}, #{score.nonRecentShifts}, #{score.SHITS}]"}.join(', ') %>

<script type="application/javascript">
    google.charts.load('current', {packages: ['corechart', 'line']});
    google.charts.setOnLoadCallback(drawBackgroundColor);

    function drawBackgroundColor() {
        var data = new google.visualization.DataTable();
        data.addColumn('number', 'X');
        data.addColumn('number', 'Shift Count');
        data.addColumn('number', 'Recent Shifts');
        data.addColumn('number', 'Non-Recent Shifts');
        data.addColumn('number', 'SHIT Score');

        data.addRows([
            <%= scores_csv %>
        ]);

        var options = {
            hAxis: {
                title: 'Week Hour Offset',
                ticks: [0, 24, 48, 72, 96, 120, 144]
            },
            vAxis: {
                title: 'Shift work history'
            },


        };

        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
        chart.draw(data, options);
    }
</script>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
