<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @employee.name %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @employee.employee_id %>
</p>

<p>
  <strong>Position:</strong>
  <%= @employee.position %>
</p>

<p>
  <strong>Organization:</strong>
  <%= link_to @employee.organization.name, organization_path(@employee.organization) %>
</p>

<div id="chart_div" style="width: 900px; height: 500px;"></div>

<h4>Hourly Scores</h4>
<ul>
  <% @employee.scores.each do |score| %>
    <li><%= "#{score.hourOffset} == v1:#{score.V1SHITS} v2:#{score.V2SHITS}" %></li>
  <% end %>
</ul>

<!--hourOffset: shift['hourOffset'],-->
<!--shiftCount: shift['shiftCount'],-->
<!--recentShifts: shift['recentShifts'],-->
<!--nonRecentShifts: shift['nonRecentShifts'],-->
<!--recentRequestShifts: shift['recentRequestShifts'],-->
<!--nonRecentRequestShifts: shift['nonRecentRequestShifts'],-->
<!--recentCallOffs: shift['recentCallOffs'],-->
<!--nonRecentCallOffs: shift['nonRecentCallOffs'],-->
<!--recentNoShow: shift['recentNoShow'],-->
<!--nonRecentNoShow: shift['nonRecentNoShow'],-->
<!--V1SHITS: shift['V1SHITS'],-->
<!--V2SHITS: shift['V2SHITS']-->

<% scores_csv = @employee.scores.map{|score| "[#{score.hourOffset}, #{score.recentShifts}, #{score.nonRecentShifts}, #{score.recentRequestShifts}, #{score.nonRecentRequestShifts}, #{score.recentCallOffs}, #{score.nonRecentCallOffs}, #{score.recentNoShow}, #{score.nonRecentNoShow}, #{score.V1SHITS}, #{score.V2SHITS}]"}.join(', ') %>

<script type="application/javascript">
    google.charts.load('current', {packages: ['corechart', 'line']});
    google.charts.setOnLoadCallback(drawBackgroundColor);

    function drawBackgroundColor() {
        var data = new google.visualization.DataTable();
        data.addColumn('number', 'X');
        data.addColumn('number', 'Recent Shifts');
        data.addColumn('number', 'Non-Recent Shifts');
        data.addColumn('number', 'Recent Request Shifts');
        data.addColumn('number', 'Non-Recent Request Shifts');
        data.addColumn('number', 'Recent Call Offs');
        data.addColumn('number', 'Non-Recent Call Offs');
        data.addColumn('number', 'Recent No Show');
        data.addColumn('number', 'Non-Recent No Show');
        data.addColumn('number', 'V1SHIT Score');
        data.addColumn('number', 'V2SHIT Score');

        data.addRows([
            <%= scores_csv %>
        ]);

        var options = {
            hAxis: {
                title: 'Week Hour Offset',
                ticks: [0, 24, 48, 72, 96, 120, 144]
            },
            vAxis: {
                title: 'Shift work history'
            }
        };

        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
        chart.draw(data, options);
    }
</script>

<%
  # 7a - 3p
  first_shift_start = 7
  first_shift_end = 15
  # 3p - 11p
  second_shift_start = 15
  second_shift_end = 23
  # 11p - 7a
  third_shift_start = 23
  third_shift_end = 7

  scores = Hash.new{|h,k| h[k] = {}}

  (0..6).each do |n|
    scores[n][:first_shift] = @employee.scores.where("hourOffset > #{first_shift_start + n*24} and hourOffset < #{first_shift_end + n*24}").average("V1SHITS")
    scores[n][:second_shift] = @employee.scores.where("hourOffset > #{second_shift_start + n*24} and hourOffset < #{second_shift_end + n*24}").average("V1SHITS")
    if (third_shift_end + 24 + n*24) < 167
      scores[n][:third_shift] = @employee.scores.where("hourOffset > #{third_shift_start + n*24} and hourOffset < #{third_shift_end + 24 + n*24}").average("V1SHITS")
    else
      # 0-167.. get Sunday 11p (167) to Monday 7a (6)
      scores[n][:third_shift] = @employee.scores.where("hourOffset = 167 or hourOffset < 7").average("V1SHITS")
    end
  end



%>

<h2>Score for the shifts of the day</h2>
<ul>

  <% scores.each do |day, shifts| %>
  <li><%= day %>Shift 1: <%= shifts[:first_shift] %></li>
  <li><%= day %>Shift 2: <%= shifts[:second_shift] %></li>
  <li><%= day %>Shift 3: <%= shifts[:third_shift] %></li>
  <% end %>

  <li>SMFS: <%= Score.monday_first_shift(@employee) %></li>
</ul>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
