<p id="notice"><%= notice %></p>

<h1><%= @organization.name %></h1>

<p>
  <strong>Name:</strong>
  <%= @organization.name %>
</p>

<p>
  <strong>V2organization:</strong>
  <%= @organization.v2organization_id %>
</p>

<%
  days = {0 => 'Mo', 1 => 'Tu', 2 => 'We', 3 => 'Th', 4 => 'Fr', 5 => 'Sa', 6 => 'Su'}
  monday = DateTime.new(2017, 11, 13, 0, 0, 0)
  date_time = monday + @day_number
  shifts = {1 => '7a-3p', 2 => '3p-11p', 3 => '11p-7a'}
%>

<pre>
Day: <%= date_time.strftime('%A %B %d, %Y') %>
Location: Lakes
Position: NAR
Shift: <%= shifts[@shift_number] %>
</pre>

<%
  if @shift_number==1
    next_path = shiftscore_organization_path(@organization, :day_number => @day_number, :shift_number => 2)
    if @day_number == 0
      previous_path = shiftscore_organization_path(@organization, :day_number => 6, :shift_number => 3)
    else
      previous_path = shiftscore_organization_path(@organization, :day_number => @day_number-1, :shift_number => 3)
    end
  elsif @shift_number==2
    next_path = shiftscore_organization_path(@organization, :day_number => @day_number, :shift_number => 3)
    previous_path = shiftscore_organization_path(@organization, :day_number => @day_number, :shift_number => 1)
  elsif @shift_number==3
    if @day_number == 6
      next_path = shiftscore_organization_path(@organization, :day_number => 0, :shift_number => 1)
    else
      next_path = shiftscore_organization_path(@organization, :day_number => @day_number+1, :shift_number => 1)
    end
    previous_path = shiftscore_organization_path(@organization, :day_number => @day_number, :shift_number => 2)
  end
%>

<%= link_to "<< Previous", previous_path  %>
<%= link_to "Next >>", next_path  %>


<h4>Employees in this Organization</h4>
<div id="table_div"></div>
<%
  shift_score_table_data = ''
  unordered_scores = {}

  @organization.employee.each do |employee|
    score = Score.get_shift_score(employee, @day_number, @shift_number)

    unordered_scores[employee.employee_id] = 3.2
    shift_score_table_data << "['#{link_to employee.employee_id, employee_path(employee)}', '#{employee.name}', '#{employee.position}', #{score}], "
  end

  #ordered_scores = unordered_scores.foo

%>

<script type="application/javascript">
    google.charts.load('current', {packages: ['corechart', 'line', 'timeline', 'annotationchart', 'table']});
    google.charts.setOnLoadCallback(drawTable);

    function drawTable() {
        var container = document.getElementById('table_div');
        var table = new google.visualization.Table(container);
        var dataTable = new google.visualization.DataTable();
        dataTable.addColumn('string', 'EmplID');
        dataTable.addColumn('string', 'Name');
        dataTable.addColumn('string', 'Position');
        dataTable.addColumn('number', 'ShiftScore');

        dataTable.addRows([
            <%=raw shift_score_table_data %>
        ]);

        dataTable.getFilteredRows([{column: 3, minValue: 0.001}]);

        var options = {
            allowHtml: true,
            showRowNumber: true,
            width: '100%',
            height: '100%',
            sortColumn: 3,
            sortAscending: false
        };

        table.draw(dataTable, options);
    }
</script>

<%= link_to 'Edit', edit_organization_path(@organization) %> |
<%= link_to 'Back', organizations_path %>
