<p id="notice"><%= notice %></p>

<h1><%= @organization.name %></h1>

<p>
  <strong>Name:</strong>
  <%= @organization.name %>
</p>

<p>
  <strong>V2organization:</strong>
  <%= @organization.v2organization_id %>
</p>

<pre>
Day: Saturday November 18, 2017
Location: Lakes
Position: NAR
Shift: 2p-10:30p
</pre>


<h4>Employees in this Organization</h4>
<div id="table_div"></div>
<%
  shift_score_table_data = ''
  days = {0 => 'Mo', 1 => 'Tu', 2 => 'We', 3 => 'Th', 4 => 'Fr', 5 => 'Sa', 6 => 'Su'}

  @organization.employee.each do |employee|
    shift_score_table_data << "['#{link_to employee.employee_id, employee_path(employee)}', '#{employee.name}', '#{employee.position}', #{Score.get_shift_score(employee, 5, 2)}], "
  end

%>

<script type="application/javascript">
    google.charts.load('current', {packages: ['corechart', 'line', 'timeline', 'annotationchart', 'table']});
    google.charts.setOnLoadCallback(drawTable);

    function drawTable() {
        var container = document.getElementById('table_div');
        var table = new google.visualization.Table(container);
        var dataTable = new google.visualization.DataTable();
        dataTable.addColumn('string', 'EmplID');
        dataTable.addColumn('string', 'Name');
        dataTable.addColumn('string', 'Position');
        dataTable.addColumn('number', 'ShiftScore');

        dataTable.addRows([
            <%=raw shift_score_table_data %>
        ]);

        dataTable.getFilteredRows([{column: 3, minValue: 0.001}]);

        var options = {
            allowHtml: true,
            showRowNumber: true,
            width: '100%',
            height: '100%',
            sortColumn: 3,
            sortAscending: false
        };

        table.draw(dataTable, options);
    }
</script>

<%= link_to 'Edit', edit_organization_path(@organization) %> |
<%= link_to 'Back', organizations_path %>
